/* ---------- COLOR SCHEMES ---------- */
.theme-light.spacial-colorschemes-light-notion {
    --cpt-crust: 227, 230, 232;
    --cpt-crust-alt: 225, 228, 230;
    --cpt-mantle: 247, 247, 245;
    --cpt-mantle-alt: 245, 245, 247;
    --cpt-core: 255, 255, 255;
    --cpt-core-alt: 253, 253, 253;

    --cpt-red: 208, 66, 85;
    --cpt-orange: 213, 118, 52;
    --cpt-yellow: 229, 181, 103;
    --cpt-green: 168, 195, 115;
    --cpt-cyan: 50, 181, 185;
    --cpt-blue: 112, 122, 250;
    --cpt-pink: 235, 0, 235;
    --cpt-purple: 147, 134, 200;
    --cpt-black: 10, 10, 10;
    --cpt-white: 240, 240, 240;
}

.theme-light.spacial-colorschemes-light-gruvbox {
    --cpt-crust: 242, 229, 188;
    --cpt-crust-alt: 225, 228, 230;
    --cpt-mantle: 230, 220, 196;
    --cpt-mantle-alt: 245, 245, 247;
    --cpt-core: 249, 245, 215;
    --cpt-core-alt: 253, 253, 253;

    --cpt-red: 204, 36, 29;
    --cpt-orange: 214, 93, 14;
    --cpt-yellow: 215, 153, 33;
    --cpt-green: 152, 151, 26;
    --cpt-cyan: 69, 133, 136;
    --cpt-blue: 69, 90, 136;
    --cpt-pink: 235, 0, 235;
    --cpt-purple: 177, 98, 134;
    --cpt-black: 10, 10, 10;
    --cpt-white: 240, 240, 240;
}

.theme-light.spacial-colorschemes-light-solarized {
    --cpt-crust: 228, 222, 203;
    --cpt-crust-alt: 225, 220, 200;
    --cpt-mantle: 238, 232, 213;
    --cpt-mantle-alt: 235, 230, 210;
    --cpt-core: 253, 246, 227;
    --cpt-core-alt: 250, 243, 225;

    --cpt-red: 220, 50, 47;
    --cpt-orange: 227, 131, 89;
    --cpt-yellow: 181, 137, 0;
    --cpt-green: 133, 153, 0;
    --cpt-blue: 38, 139, 210;
    --cpt-pink: 235, 0, 235;
    --cpt-purple: 108, 113, 196;
    --cpt-black: 10, 10, 10;
    --cpt-white: 240, 240, 240;
}

.theme-dark.spacial-colorschemes-dark-nightowl {
    --cpt-crust: 1, 28, 50;
    --cpt-crust-alt: 19, 19, 19;
    --cpt-mantle: 1, 23, 40;
    --cpt-mantle-alt: 36, 36, 46;
    --cpt-core: 1, 28, 50;
    --cpt-core-alt: 42, 44, 56;

    --cpt-text: 240, 240, 240;
    --cpt-border: 50, 50, 50;
}