body {
  --graph-controls-width: 240px;
  --graph-text: rgb(var(--cpt-black));
  --graph-node: rgb(var(--cpt-gray-70));
  --graph-node-unresolved: var(--text-faint);
  --graph-node-focused: rgb(var(--cpt-accent));
  --graph-node-tag: rgb(var(--cpt-blue));
}