@charset "UTF-8";

/*────────────────────────────────────
++++++++++++Fonts++++++++++++
────────────────────────────────────*/
@font-face {
  font-family: "Karla";
  src: url("./Karla.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("./Karla-Italic.ttf");
  font-style: italic;
  font-display: swap;
}

/*────────────────────────────────────
++++++++++++Variables+++++++++++++++++
────────────────────────────────────*/
:root,
body {
  /*──────────Font Families──────────*/
  --font-preview: var(--font-text);
  --font-preview-header: var(--font-text);
  --font-editor: var(--font-text);
  --font-editor-header: var(--font-text);
  /* Original Obsidian Font Variables */
  --font-interface-theme: "Karla", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-text-theme: "Karla", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --font-monospace-theme: "Cascadia Code", Inconsolata, Courier, monospace;
  --font-mermaid: var(--font-preview);
  --default-font: var(--font-interface-theme);
  --font-code: var(--font-monospace-theme);
  /*──────────Font Weight──────────*/
  --font-thin: 100;
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;
  /*──────────Typography Modular Scale──────────*/
  /*  Based on Standard 18px  */
  --line-width: 700px;
  --font-scale-000: 0.547em;
  --font-scale-00: 0.676em;
  --font-scale-0: 0.81em;
  --font-scale-0-5: 0.875em;
  --font-scale-1: 1em;
  --font-scale-2: 1.08em;
  --font-scale-3: 1.12em;
  --font-scale-4: 1.25em;
  --font-scale-5: 1.37em;
  --font-scale-6: 1.6em;
  --font-scale-7: 2em;
  --line-height-0: 1em;
  --line-height-0-5: 1.2em;
  --line-height-1: 1.53em;
  --font-text-size: var(--editor-font-size);
  --font-ui-small: 14px;
  --font-ui-smaller: var(--font-scale-0-5);
  --oz-fta-folder-font-size: 15px;
  /*──────────Tracking (Letter Spacing)──────────*/
  --tracking-0: 0px;
  --tracking-1: 0.16px;
  --tracking-2: 0.32px;
  --tracking-3: 0.64px;
  --tracking-4: 1.28px;
  --tracking-5: 2.56px;
  /*──────────Layout Sizing──────────*/
  /* Obsidian Defaults */
  --border-width: 1px;
  --scale-0-0: 0px;
  /* Multiples of 2 */
  --scale-2-1: 2px;
  --scale-2-2: 4px;
  --scale-2-3: 6px;
  --scale-2-4: 8px;
  --scale-2-5: 10px;
  --scale-2-6: 12px;
  --scale-2-8: 16px;
  --scale-2-9: 18px;
  --scale-2-10: 20px;
  --scale-2-18: 36px;
  /* Multiples of 8 */
  --scale-8-1: 8px;
  --scale-8-2: 16px;
  --scale-8-3: 24px;
  --scale-8-4: 32px;
  --scale-8-5: 40px;
  --scale-8-6: 48px;
  --scale-8-7: 54px;
  --scale-8-8: 64px;
  --scale-8-9: 72px;
  --scale-8-10: 80px;
  --scale-8-12: 96px;
  --scale-8-18: 144px;
  --scale-8-36: 288px;
  /*──────────Shadow Sizing──────────*/
  --shadow-xs: 0px 0px 3px 1px;
  --shadow-s: 0px 2px 8px -1px;
  --shadow-m: 0px 4px 16px -2px;
  --shadow-l: 0px 8px 24px -3px;
  --shadow-xl: 0px 12px 32px -4px;
  /*──────────Duration, Transitions & Animations──────────*/
  /* Duration */
  --duration-none: 0;
  --duration-superfast: 70ms;
  --duration-fast-1: 140ms;
  --duration-fast-2: 260ms;
  --duration-moderate-1: 300ms;
  --duration-moderate-2: 440ms;
  --duration-slow-1: 560ms;
  --duration-slow-2: 600ms;
  /* Transitions & Animations */
  --motion-smooth: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  /* easeInOutSine */
  --motion-delay: cubic-bezier(0.65, 0.05, 0.36, 1);
  /* easeInOutCubic */
  --motion-jumpy: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* easeInOutBack */

  /* Callouts */
  --callout-padding: 0;
}

/*────────────────────────────────────
            Light Theme
────────────────────────────────────*/
.theme-light {
  --background-primary: var(--color-l-white);
  --background-primary-alt: var(--color-l-gray-10);
  --background-secondary: var(--color-l-gray-10);
  --background-secondary-alt: var(--color-l-white);
  --background-modifier-border: var(--color-l-gray-40);
  --background-modifier-form-field: var(--color-l-gray-30);
  --background-modifier-form-field-highlighted: var(--color-l-gray-40);
  --background-modifier-box-shadow: var(--color-l-shadow-100);
  --background-modifier-success: var(--color-l-green-300);
  --background-modifier-error: var(--color-l-red-300);
  --background-modifier-error-hover: var(--color-l-red-500);
  --background-modifier-cover: var(--color-l-shadow-cover);
  --text-normal: var(--color-l-black);
  --text-muted: var(--color-l-gray-60);
  --text-faint: var(--color-l-gray-50);
  --text-accent: var(--color-l-yellow-900);
  --text-accent-hover: var(--color-l-yellow-500);
  --text-error: var(--color-l-red);
  --text-error-hover: var(--color-l-red-900);
  --text-highlight-bg: var(--color-l-highlight-yellow);
  --text-highlight-bg-active: var(--color-l-highlight-yellow);
  --highlight-mix-blend-mode: darken;
  --text-selection: var(--color-l-gray-40);
  --text-on-accent: var(--color-l-gray-10);
  --interactive-hover: var(--color-l-gray-10);
  --interactive-accent: var(--color-l-gray-60);
  --interactive-accent-rgb: 207, 182, 150;
  --interactive-accent-hover: var(--color-l-gray-70);
  --interactive-success: var(--color-l-green-500);
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: var(--background-modifier-border);
  --scrollbar-active-thumb-bg: var(--interactive-accent);
  /*──────────The PRIMARY Color Palette for Light Theme──────────*/
  --color-l-whiter: hsl(36, 36%, 96.9%);
  --color-l-white: hsl(35, 36%, 95%);
  --color-l-gray: var(--color-l-gray-50);
  --color-l-gray-10: hsl(36, 37%, 92%);
  --color-l-gray-20: hsl(35, 35%, 90%);
  --color-l-gray-30: hsl(34, 36%, 88%);
  --color-l-gray-40: hsl(36, 37%, 83%);
  --color-l-gray-50: hsl(34, 37%, 70%);
  --color-l-gray-60: hsl(34, 28%, 60%);
  --color-l-gray-70: hsl(31, 23%, 50%);
  --color-l-gray-80: hsl(34, 27%, 40%);
  --color-l-gray-90: hsl(34, 30%, 37%);
  --color-l-gray-100: hsl(35, 32%, 30%);
  --color-l-black: hsl(31, 45%, 20%);
  --color-l-blacker: hsl(32, 55%, 12%);
  --color-l-shadow-10: rgba(168, 160, 148, 0.8);
  --color-l-shadow-50: rgba(180, 172, 161, 0.3);
  --color-l-shadow-100: rgba(75, 70, 64, 0.2);
  --color-l-shadow-cover: rgba(177, 171, 164, 0.5);
  --color-l-yellow: var(--color-l-yellow-500);
  --color-l-yellow-300: hsl(43, 71%, 67%);
  --color-l-yellow-500: hsl(43, 78%, 52%);
  --color-l-yellow-700: hsl(43, 100%, 42%);
  --color-l-yellow-900: hsl(43, 89%, 38%);
  --color-l-red: var(--color-l-red-500);
  --color-l-red-300: hsl(4, 54%, 61%);
  --color-l-red-500: hsl(4, 72%, 55%);
  --color-l-red-700: hsl(4, 56%, 48%);
  --color-l-red-900: hsl(4, 66%, 30%);
  --color-l-blue: var(--color-l-blue-500);
  --color-l-blue-300: hsl(198, 39%, 56%);
  --color-l-blue-500: hsl(205, 66%, 46%);
  --color-l-blue-700: hsl(205, 63%, 39%);
  --color-l-blue-900: hsl(205, 95%, 25%);
  --color-l-orange: var(--color-l-orange-500);
  --color-l-orange-300: hsl(26, 66%, 57%);
  --color-l-orange-500: hsl(21, 82%, 55%);
  --color-l-orange-700: hsl(18, 69%, 50%);
  --color-l-orange-900: hsl(24, 96%, 35%);
  --color-l-orange-a: hsl(27, 81%, 46%);
  --color-l-green: var(--color-l-green-500);
  --color-l-green-300: hsl(154, 58%, 65%);
  --color-l-green-500: hsl(154, 47%, 49%);
  --color-l-green-700: hsl(155, 52%, 38%);
  --color-l-green-900: hsl(165, 63%, 29%);
  --color-l-violet: var(--color-l-violet-500);
  --color-l-violet-300: hsl(270, 50%, 74%);
  --color-l-violet-500: hsl(266, 31%, 57%);
  --color-l-violet-700: hsl(267, 37%, 43%);
  --color-l-violet-900: hsl(266, 70%, 30%);
  /*~ Highlights */
  --ui-color-highlight-text: var(--color-l-black);
  --ui-color-highlight-bg: hsl(43, 85%, 79%);
  --color-highlight-yellow: rgba(255, 187, 0, 0.2);
  --color-highlight-red: rgba(240, 79, 106, 0.2);
  --color-highlight-blue: rgba(40, 178, 194, 0.2);
  --color-highlight-orange: rgba(255, 115, 0, 0.2);
  --color-highlight-green: rgba(153, 189, 36, 0.2);
  --color-highlight-violet: rgba(113, 122, 255, 0.2);
  /*~ Graph View */
  --graph-color-node-resolved: var(--color-l-blue-500);
  --graph-color-node-unresolved: var(--color-l-yellow-500);
  --graph-color-node-unresolved-opacity: 1;
  --graph-color-node-tag: var(--color-l-red-500);
  --graph-color-node-attachment: var(--color-l-green-300);
  --graph-color-node-focused: var(--color-l-gray-80);
  --graph-color-node-border-hover: var(--color-l-gray-50);
  --graph-color-node-arrow: var(--color-l-gray-60);
  --graph-color-node-line: var(--color-l-gray-40);
  --graph-color-node-line-hover: var(--color-l-gray-50);
  --graph-color-node-text: var(--color-l-black);

  /* Normal Colors */
  --h1-text-color: var(--text-normal);
  ;
  --h2-text-color: #4876d6;
  --h3-text-color: #00838f;
  --h4-text-color: var(--text-normal);
  --h5-text-color: var(--text-normal);
  --h6-text-color: var(--text-muted);
}

/*────────────────────────────────────
            Dark Theme
────────────────────────────────────*/
.theme-dark {
  /*─────────Original Obsidian Variables──────────*/
  --background-primary: var(--color-d-gray-70);
  --background-primary-alt: var(--color-d-gray-90);
  --background-secondary: var(--color-d-gray-80);
  --background-secondary-alt: var(--color-d-gray-90);
  --background-modifier-border: var(--color-d-gray-50);
  --background-modifier-form-field: var(--color-d-blacker);
  --background-modifier-form-field-highlighted: var(--color-d-black);
  --background-modifier-box-shadow: var(--color-d-shadow-100);
  --background-modifier-success: var(--color-d-green-300);
  --background-modifier-error: var(--color-d-red-500);
  --background-modifier-error-hover: var(--color-d-red-700);
  --background-modifier-cover: var(--color-d-shadow-cover);
  --text-normal: var(--color-d-white);
  --text-muted: var(--color-d-gray-20);
  --text-faint: var(--color-d-gray-30);
  --text-accent: var(--color-d-yellow-500);
  --text-accent-hover: var(--color-d-yellow-300);
  --text-error: var(--color-d-red-500);
  --text-error-hover: var(--color-d-red-300);
  --text-highlight-bg: var(--color-d-highlight-yellow);
  --text-highlight-bg-active: var(--color-d-highlight-yellow);
  --highlight-mix-blend-mode: lighten;
  --text-selection: var(--color-d-gray-50);
  --text-on-accent: var(--color-d-white);
  --interactive-hover: var(--color-d-gray-60);
  --interactive-accent: var(--color-d-gray-40);
  --interactive-accent-rgb: 92, 78, 61;
  --interactive-accent-hover: var(--color-d-gray-50);
  --interactive-success: var(--color-d-green-700);
  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: var(--background-modifier-border);
  --scrollbar-active-thumb-bg: var(--interactive-accent);
  /*──────────The PRIMARY Color Palette for Dark Theme──────────*/
  --color-d-whiter: hsl(33, 66%, 90%);
  --color-d-white: hsl(34, 50%, 80%);
  --color-d-gray: var(--color-d-gray-50);
  --color-d-gray-10: hsl(34, 18%, 62%);
  --color-d-gray-20: hsl(229, 20%, 63%);
  --color-d-gray-30: hsl(230, 27%, 71%);
  --color-d-gray-40: hsl(33, 22%, 30%);
  --color-d-gray-50: hsl(33, 20%, 20%);
  --color-d-gray-60: hsl(30, 19%, 17%);
  --color-d-gray-70: hsl(208, 95%, 8%);
  --color-d-gray-80: hsl(207, 96%, 10%);
  --color-d-gray-90: hsl(206, 95%, 8%);
  --color-d-gray-100: hsl(30, 20%, 8%);
  --color-d-black: #02223c;
  --color-d-blacker: hsl(26, 16%, 9%);
  --color-d-shadow-10: rgba(29, 21, 13, 0.45);
  --color-d-shadow-50: rgba(29, 26, 22, 0.75);
  --color-d-shadow-100: rgba(19, 16, 13, 0.95);
  --color-d-shadow-cover: rgba(37, 34, 29, 0.74);
  --color-d-yellow: var(--color-d-yellow-500);
  --color-d-yellow-300: hsl(46, 91%, 69%);
  --color-d-yellow-500: hsl(50, 100%, 46%);
  --color-d-yellow-700: hsl(43, 100%, 42%);
  --color-d-yellow-900: hsl(39, 92%, 33%);
  --color-d-yellow-a: hsl(43, 75%, 52%);
  --color-d-red: var(--color-d-red-500);
  --color-d-red-300: hsl(4, 100%, 68%);
  --color-d-red-500: hsl(4, 65%, 60%);
  --color-d-red-700: hsl(4, 90%, 61%);
  --color-d-red-900: hsl(4, 77%, 38%);
  --color-d-red-a: hsl(4, 61%, 53%);
  --color-d-blue: var(--color-d-blue-500);
  --color-d-blue-300: hsl(198, 39%, 56%);
  --color-d-blue-500: hsl(198, 62%, 57%);
  --color-d-blue-700: hsl(198, 57%, 55%);
  --color-d-blue-900: hsl(198, 75%, 35%);
  --color-d-blue-a: hsl(197, 58%, 48%);
  --color-d-orange: var(--color-d-orange-500);
  --color-d-orange-300: hsl(22, 92%, 64%);
  --color-d-orange-500: hsl(22, 92%, 57%);
  --color-d-orange-700: hsl(21, 88%, 51%);
  --color-d-orange-900: hsl(20, 80%, 41%);
  --color-d-orange-a: hsl(27, 77%, 51%);
  --color-d-green: var(--color-d-green-500);
  --color-d-green-300: hsl(150, 66%, 53%);
  --color-d-green-500: hsl(154, 52%, 46%);
  --color-d-green-700: hsl(154, 61%, 39%);
  --color-d-green-900: hsl(155, 81%, 24%);
  --color-d-green-a: hsl(96, 50%, 49%);
  --color-d-violet: var(--color-d-violet-500);
  --color-d-violet-300: hsl(256, 63%, 74%);
  --color-d-violet-500: hsl(263, 60%, 67%);
  --color-d-violet-700: hsl(256, 52%, 57%);
  --color-d-violet-900: hsl(256, 44%, 50%);
  --color-d-violet-a: hsl(246, 53%, 67%);
  /*~ Highlights */
  --ui-color-highlight-text: var(--color-d-black);
  --ui-color-highlight-bg: hsl(43, 61%, 56%);
  --color-highlight-yellow: rgba(255, 187, 0, 0.2);
  --color-highlight-red: rgba(240, 79, 106, 0.2);
  --color-highlight-blue: rgba(40, 178, 194, 0.2);
  --color-highlight-orange: rgba(255, 115, 0, 0.2);
  --color-highlight-green: rgba(153, 189, 36, 0.2);
  --color-highlight-violet: rgba(113, 122, 255, 0.2);
  /*~ Graph View */
  --graph-color-node-resolved: var(--color-d-blue-900);
  --graph-color-node-unresolved: var(--color-d-yellow-700);
  --graph-color-node-unresolved-opacity: 1;
  --graph-color-node-tag: var(--color-d-red-500);
  --graph-color-node-attachment: var(--color-d-green-500);
  --graph-color-node-focused: var(--color-d-white);
  --graph-color-node-border-hover: var(--color-d-gray-10);
  --graph-color-node-arrow: var(--color-d-gray-40);
  --graph-color-node-line: var(--color-d-gray-50);
  --graph-color-node-line-hover: var(--color-d-gray-40);
  --graph-color-node-text: var(--color-d-gray-10);

  --h1-text-color: #ff79c6;
  --h2-text-color: #82aaff;
  --h3-text-color: #c5e478;
  --h4-text-color: #ffb86c;
  --h5-text-color: #50fa7b;
  --h6-text-color: #8be9fd;
}