/* ---------- VARIABLES ---------- */
body {
    /* Colors */
    --base-h: 212;
    /* Base hue */
    --base-s: 15%;
    /* Base saturation */
    --base-d: 13%;
    /* Base lightness Dark Mode  - 0 is black */
    --base-l: 97%;
    /* Base lightness Light Mode  - 100 is white */
    --accent-h: 215;
    /* Accent hue */
    --accent-s: 75%;
    /* Accent saturation */
    --accent-d: 70%;
    /* Accent lightness Dark Mode */
    --accent-l: 60%;
    /* Accent lightness Light Mode */

    /* Headings */
    --h1-font: Karla;
    --h2-font: Karla;
    --h3-font: Karla;
    --h4-font: Karla;
    --h5-font: Karla;
    --h6-font: Karla;

    --h1-size: 2em;
    --h2-size: 1.75em;
    --h3-size: 1.5em;
    --h4-size: 1.25em;
    --h5-size: 1em;
    --h6-size: 1em;

    /* Text */
    --bold-colors: rgb(var(--cpt-red));
    --italic-colors: rgb(var(--cpt-blue));
    --text-faint: hsl(var(--base-h),
            calc(var(--base-s) - 5%),
            calc(var(--base-l) - 30%));

    /* Tag */
    --tag-color: var(--text-accent);
    --tag-color-hover: var(--text-accent);
    --tag-decoration: none;
    --tag-decoration-hover: none;
    --tag-background: rgba(var(--cpt-accent), 0.15);
    --tag-background-hover: rgba(var(--cpt-accent), 0.25);
    --tag-border-color: rgba(var(--cpt-accent), 0.15);
    --tag-border-color-hover: rgba(var(--cpt-accent), 0.25);
    --tag-border-width: 0px;
    --tag-padding-x: 0.65em;
    --tag-padding-y: 0.25em;
    --tag-radius: 2em;
}

.theme-light {
    /* Core */
    --cpt-crust: 241, 230, 214;
    --cpt-crust-alt: 247, 203, 160;
    --cpt-mantle: 238, 231, 221;
    --cpt-mantle-alt: 22, 22, 22;
    --cpt-core: 247, 243, 238;
    --cpt-core-alt: 250, 238, 225;

    --cpt-text: 74, 52, 28;
    --cpt-border: 233, 223, 209;

    --color-accent: rgb(var(var(--cpt-accent)));
    --cpt-accent: var(--cpt-spacial);
    --cpt-spacial: var(--cpt-purple);
    --cpt-red: 240, 100, 119;
    --cpt-orange: 245, 146, 75;
    --cpt-yellow: 233, 179, 92;
    --cpt-green: 154, 230, 92;
    --cpt-cyan: 89, 202, 206;
    --cpt-blue: 124, 155, 255;
    --cpt-pink: 235, 0, 235;
    --cpt-purple: 144, 120, 241;
    --cpt-black: 74, 52, 28;
    --cpt-white: 240, 240, 240;
    --cpt-gray: 130, 106, 74;
    --cpt-gray-70: 84, 81, 81;

    /* Background */
    --background-primary: rgb(var(--cpt-core));
    --background-primary-alt: rgb(var(--cpt-core-alt));
    --background-secondary: rgb(var(--cpt-mantle));
    --background-secondary-alt: rgb(var(--cpt-mantle-alt));

    --titlebar-background: rgb(var(--cpt-mantle));
    --titlebar-background-focused: rgb(var(--cpt-crust));

    --modal-border-color: rgb(var(--cpt-border));

    /* Background Modifiers */
    --background-modifier-border: rgb(var(--cpt-border));
    --background-modifier-border-hover: rgb(var(--cpt-border));
    --background-modifier-form-field: rgb(var(--cpt-crust));
    --background-modifier-hover: rgb(var(--cpt-crust));

    /* Interictive elements */
    --interactive-normal: rgb(var(--cpt-mantle));
    --interactive-hover: rgb(var(--cpt-core), 0.7);
    --interactive-accent: rgb(var(--cpt-accent));
    --interactive-accent-hover: rgba(var(--cpt-accent), 0.7);

    /* Text */
    --text-normal: rgb(var(--cpt-text));
    --text-faint: rgba(var(--cpt-text), 0.9);
    --text-muted: rgba(var(--cpt-text), 0.9);
    --text-accent: rgb(var(--cpt-accent));
    --text-accent-hover: rgba(var(--cpt-accent), 0.7);
    --text-on-accent: var(--text-on-accent-inverted);
    --text-selection: rgba(var(--cpt-accent), 0.1);
}

.theme-dark {
    /* Core */
    --cpt-crust: 18, 18, 18;
    --cpt-crust-alt: 19, 19, 19;
    --cpt-mantle: 20, 20, 20;
    --cpt-mantle-alt: 22, 22, 22;
    --cpt-core: 25, 25, 25;
    --cpt-core-alt: 27, 27, 27;

    --cpt-text: 240, 240, 240;
    --cpt-border: 50, 50, 50;

    --color-accent: rgb(var(--cpt-accent));
    --cpt-accent: var(--cpt-spacial);
    --cpt-spacial: var(--cpt-blue);
    --cpt-red: 208, 66, 85;
    --cpt-orange: 213, 118, 52;
    --cpt-yellow: 229, 181, 103;
    --cpt-green: 168, 195, 115;
    --cpt-cyan: 50, 181, 185;
    --cpt-blue: 112, 122, 250;
    --cpt-pink: 235, 0, 235;
    --cpt-purple: 147, 134, 200;
    --cpt-black: 10, 10, 10;
    --cpt-white: 240, 240, 240;
    --cpt-gray: 130, 106, 74;
    --cpt-gray-70: 84, 81, 81;


    /* Background */
    --background-primary: rgb(var(--cpt-core));
    --background-primary-alt: rgb(var(--cpt-core-alt));
    --background-secondary: rgb(var(--cpt-mantle));
    --background-secondary-alt: rgb(var(--cpt-mantle-alt));

    --titlebar-background: rgb(var(--cpt-mantle));
    --titlebar-background-focused: rgb(var(--cpt-crust));

    --modal-border-color: rgb(var(--cpt-border));

    /* Background Modifiers */
    --background-modifier-border: rgb(var(--cpt-border));
    --background-modifier-border-hover: rgb(var(--cpt-border));
    --background-modifier-form-field: rgb(var(--cpt-crust));
    --background-modifier-hover: rgb(var(--cpt-crust));

    /* Interictive elements */
    --interactive-normal: rgb(var(--cpt-crust));
    --interactive-hover: rgb(var(--cpt-crust), 0.5);
    --interactive-accent: rgb(var(--cpt-accent));
    --interactive-accent-hover: rgba(var(--cpt-accent), 0.7);

    /* Text */
    --text-normal: rgb(var(--cpt-text));
    --text-faint: rgba(var(--cpt-text), 0.7);
    --text-muted: rgba(var(--cpt-text), 0.7);
    --text-accent: rgb(var(--cpt-accent));
    --text-accent-hover: rgba(var(--cpt-accent), 0.7);
    --text-on-accent: var(--text-on-accent-inverted);
    --text-selection: rgba(var(--cpt-accent), 0.1);
}